.newtime-product {
  overflow:hidden;
}
.newtime-product img {
  width:100%;
  height:auto;
}
.modal-content {
  background:#575757;
}
#cart a {
  display:inline-block;
  color:#C1C1C1;
}

.modal-content iframe {
  background:#fff;
}